<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manofacturer.name %>
</p>

<p>
  <strong>Video:</strong>
  <%= @manofacturer.video %>
</p>

<%= link_to 'Edit', edit_manofacturer_path(@manofacturer) %> |
<%= link_to 'Back', manofacturers_path %>
