<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :upimg %><br>
    <%= f.file_field :upimg %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.select :product_id, Product.all.collect{|u| [u.name, u.id]} %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
